body{
    display: flex;
    background: lightgrey;
    flex-wrap: wrap;
}

header, main, aside, footer{
    background: white;
    flex: 1 100%;
    padding: 0.4em;
    margin: 0.4em;
    border-radius: 0.1em;
    box-shadow: grey;
}

main{
    max-width: 68%;
    height: auto;
}

aside{
    max-width:28%;
    height: auto;
}