body{
    background: white;
}

.body{
    display: flex;
    flex-direction: column;
    background: lightskyblue;
    padding:2rem;
    align-items: flex-start;
    max-width: 20rem;
    margin-left: 35%;
}

.container2, .container1{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}

.container1 > *, .container2 > *{
    margin-right: 1rem;
    margin-bottom: 1rem;
}

input{
    max-width: 10rem;
}

form{
    display:flex;
    flex-direction: row;
}

.sendbtn{
    display:flex;
    align-self: center;
    margin-top:1rem;
}

