html{
    font-family: "Open Sans", sans-serif;
}

body{
    padding-left: 10rem;
    padding-right: 10rem;
}

body header h1 {
    text-transform: uppercase;
}

body header hr {
    width: 8rem;
    color: #1B98B0;
    margin-right: 80rem;
}

body .cards{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
}

body .cards div{
    border: 1px solid lightgrey;
    width: 20.5rem;
}

body .cards div p{
    border-bottom: 1px solid lightgrey;
    margin:0;
    padding: .5rem;
    font-size:14px;
}

body .cards div p:last-child{
    border-bottom: none;
}

body .cards div p:nth-child(1) {
    background: #323232;
    color: white;
    font-size: 18px;
    margin-top:0;
}

body .cards div:nth-child(2) p:nth-child(1) {
    background: #1996AC
}

body .cards div p:nth-child(2) {
    background: #F5F5F5;
    font-size: 22px;
}

body .cards div p:nth-child(3) {
    font-size: 10px;
}

.button {
    border: none;
    box-shadow: none;
    font-size: 16px;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    background: #0389B2;
    color: white;
    margin: 1rem;
    border-radius: .25rem;
}