body{
    display:flex;
    background: rgb(238, 238, 238);
    min-height: 100vh;
    flex-direction: column;
}


main{
    flex: 1;
}


footer{
    color:rgb(255, 255, 255);
    background: rgb(102, 102, 102);
}