ul{
    list-style: none;
    justify-content: space-between;
}

body, ul, li{
    display:flex;
    flex-wrap: wrap;
}
img{
    margin: 0.5rem;
    padding:0.5rem;
    box-shadow: dimgrey;
    border-color: black;
    border-style: solid;
}
